<div class="page-content">
  <h4 class="header header-titles">扫码记录</h4>
  <div class="row">
    <div class="header-search">
      <label>是否中奖:</label>
      <select>
        <option>全部</option>
        <option>中奖</option>
        <option>未中奖</option>
      </select>
    </div>
    <div class="header-search">
      <label>奖品类型:</label>
      <select>
        <option>全部</option>
        <option>实物奖</option>
        <option>现金红包</option>
        <option>优惠券</option>
      </select>
    </div>
    <div class="header-search">
      <label>是否关注公众号:</label>
      <select>
        <option>全部</option>
        <option>未关注</option>
        <option>已关注</option>
      </select>
    </div>
    <div class="header-search">
      <label>策略名称:</label>
      <input type="text" placeholder="请输入关键字">
    </div>
    <div class="header-search">
      <label>串码:</label>
      <input type="text" placeholder="请输入串码">
    </div>
    <div class="header-search">
      <label>微信昵称:</label>
      <input type="text" placeholder="请输入微信昵称">
    </div>
    <div class="panel-btns">
      <a href="javascirpt:;" class="btn-code btn-code-primary btn-query">查询</a>
    </div>
  </div>
  <div class="row">
    <div class="margin-left20 margin-top10 margin-bottom20">
      <a  class="btn-code btn-code-primary btn-query">批量导出</a>
    </div>
  </div>
  <div class="row margin-top10">
    <div style="margin: 0 20px;">
      <div class="table-responsive">
        <table width="100%" class="code-table code-table-border code-table-hover">
          <thead>
          <th class="text-center">
            <label>
              <input type="checkbox" class="ace">
              <span class="lbl"></span>
            </label>
          </th>
          <th class="text-center">串码</th>
          <th class="text-center">策略名称</th>
          <th class="text-center">批次</th>
          <th class="text-center">微信昵称</th>
          <th class="text-center">扫码区域</th>
          <th class="text-center">是否中奖</th>
          <th class="text-center">奖项</th>
          <th class="text-center">奖品类型</th>
          <th class="text-center">奖品</th>
          <th class="text-center">收货地址</th>
          <th class="text-center">是否关注公众号</th>
          <th class="text-center">扫码时间</th>
          </thead>
          <tbody>
          <tr>
            <td>
              <label>
                <input type="checkbox" class="ace">
                <span class="lbl"></span>
              </label>
            </td>
            <td>9DMZ5EBEAAA3Q7</td>
            <td>图片混乱</td>
            <td>3033</td>
            <td>哦呵呵</td>
            <td></td>
            <td>中奖</td>
            <td>二等奖</td>
            <td>积分</td>
            <td>200</td>
            <td>北京市,市辖区,东城区,test</td>
            <td>未关注</td>
            <td>2017-03-20 12:56:27 ~ 2017-03-23 12:56:28</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>