<div class="page-content">
  <h4 class="header header-titles">创建防伪码策略</h4>
  <div class="col-xs-3 create-active">
    <div style="width: 320px;margin:0 auto;">
      <div class="content-telphone">
        <div class="scanHeader-top"></div>
        <div class="scanHeader">
          <div class="scanHeaderTop">
            <div class="scanHeaderTop-t">
              <div class="address_san_top">防伪码:<span>xxxxxx</span></div>
              <div class="address_san address_san_one"></div>
            </div>
            <div class="scanHeaderTop-m scanHeaderTop-m-one">
              第一次查询
            </div>
            <div class="scanHeaderTop-b">
              <div class="scanHeaderTop-b-m">查看查询记录</div>
            </div>
          </div>
          <div class="oneHeaderBottom"></div>
        </div>
        <div style="min-height: 250px;height:auto!important;">
          <div class="content-m">
            <div class="content-m-top">
              <i class="icon_home"></i>
              <span style="font-size: 12px;">如有疑问，请关注商家公众号或拨打商品包装上的电话咨询商家</span>
            </div>
          </div>
          <div class="content-bottom">
            <ul>
              <li style="display: block" class="icon_prize-img">
                <img src="//imgcache.vikduo.com/static/9ba4193ece08e024f6e9f43d74afd61d.png">
              </li>
              <li>
                <i class="icon_home icon_look"></i>
                <span class="icon_text">关注公众号</span>
                <b class="icon_jian"> > </b>
              </li>
              <li>
                <i class="icon_home icon_shop"></i>
                <span class="icon_text">进入店铺</span>
                <b class="icon_jian"> > </b>
              </li>
              <li style="display: none">
                <i class="icon_home icon_setter"></i>
                <span class="icon_text">未定义</span>
                <b class="icon_jian"> > </b>
              </li>
              <li style="display: none">
                <i class="icon_home icon_setter"></i>
                <span class="icon_text">自定义</span>
                <span class="icon_text">以下类似</span>
                <b class="icon_jian"> > </b>
              </li>
            </ul>
          </div>
          <div class="content-footer">由微客多提供技术支持</div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-xs-9 create-active-wrap">
   <table></table>
    <form>
      <div class="activity-view" style="display: block">
        <div class="row">
          <div class="form-group form-group-me">
            <label class="col-sm-1 control-label no-padding-right" >策略名称：</label>
            <div class="col-sm-9 celue">
              <input type="text" placeholder="请输入策略名称"  class="col-xs-10 col-sm-5" style="margin-top:0;padding:0;width:50%;">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group form-group-me">
            <label class="col-sm-1 control-label no-padding-right" >提示语：</label>
            <input type="hidden">
            <div class="col-sm-9 celue">
              <input type="checkbox"  style="width:auto;" >显示
            </div>
          </div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
      </div>
      <div class="activity-view" style="display: none"></div>
    </form>
  </div>
</div>