<div class="code-breadcrumb">
  <ul>
    <li>首页 > 充值券充值</li>
  </ul>
</div>
<div class="page-content">
  <div class="row">
     <div class="bg-white padding20 margin-top10">
       <div class="secondary-menu">
         <ul class="mui_flex">
           <li class="cell">
             <a class="choose" href="#/code">充值券充值</a>
           </li>
           <li class="cell">
             <a class="" href="#/log">充值记录</a>
           </li>
         </ul>
       </div>
       <div class="account-form mod_fill">
         <form>
           <input type="hidden">
           <div class="form-group clearfix field-rechargecodeform-pincode" style="width: 100%;">
             <label class="control-label">充值码:</label>
             <input type="text" class="form-control" style="width: 500px;">
             <div class="help-block"></div>
           </div>
           <div class="form-group clearfix field-rechargecodeform-pincode" style="width: 100%;">
             <label class="control-label">&nbsp;</label>
            <div style="color: #09F;font-size: 16px;" >充值券的获取方式：请通过我们的服务商获取</div>
             <div class="help-block"></div>
           </div>
           <div class="form-group clearfix " style="width: 100%;">
             <label class="control-label">&nbsp;</label>
             <div>
               <a class="btn btn-success">充值</a>
             </div>

           </div>
         </form>
       </div>
     </div>
  </div>
</div>