<div class="code-breadcrumb">
  <ul>
    <li>首页 > 串码流水</li>
  </ul>
</div>
<div class="page-content">
  <div class="row">
    <div class="bg-white padding20 margin-top10">
      <div class="secondary-menu">
        <ul class="mui_flex">
          <li class="cell">
            <a class="" href="#/code">充值券充值</a>
          </li>
          <li class="cell">
            <a class="choose" href="#/log">充值记录</a>
          </li>
        </ul>
      </div>
      <div class="account-form mod_fill">
        <div>第<b>1-1</b>条，共<b>1</b>条数据.</div>
        <table class="code-table code-table-border code-table-hover">
          <thead>
          <th>ID</th>
          <th>数量</th>
          <th>操作</th>
          <th>来源</th>
          <th>备注</th>
          <th>充值时间</th>
          </thead>
          <tbody>
          <tr>
            <td>130</td>
            <td>10000</td>
            <td>+</td>
            <td>充值券</td>
            <td>235TB5EBAA3E9U</td>
            <td>2016-07-13 19:26:56</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>