/*reset css*/
body, div, h1, h2, h3, h4, p, input, ul, li, img, span, a, dl, dt, dd{margin: 0;padding:0;}
h1, h2, h3, h4{font-weight: normal;}
html{font-size: 62.5%; height:100%;}
body {background-size: 100% auto; -webkit-background-size:100% auto;background-color:#fff;color:#fff;font-family: "microsoft yahei", Arial, Helvetica, sans-serif;font-size:1.2rem; position:relative;}
a{ color:#333; text-decoration:none;}
i,em{ font-style:normal;}
img{max-width:100%; vertical-align:top; border:0;}
ul,li{ list-style-type:none;}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
.clearfix{zoom:1;}
.hide{ display:none;}
.show{ display:block;}
body{ min-width:320px; max-width:640px; margin:0 auto; height:100%;}
input[type="text"],input[type="number"],input[type="button"],input[type="submit"], input[type="reset"],textarea,button{-webkit-appearance: none;outline:none;}
button:active{-webkit-appearance: none;}
a, input, a:focus, input:focus{-webkit-tap-highlight-color: rgba(0,0,0,0);}
/*去掉input[type='number']默认样式*/
input::-webkit-textfield-decoration-container {
    background-color: #fff; 
}
input::-webkit-inner-spin-button {
     -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
     -webkit-appearance: none;  
}

.v-recharge{

	background:#bd0013 url(../images/recharge3/bg_body.jpg) no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	padding-top: 84%;
}
.time-wrap{
	width: 300px;
	height: 100px;
	background: url(../images/recharge3/bg_time.png) no-repeat center center;
	background-size: 300px auto;
	margin-bottom: 12px;
	position: relative;
	margin: 0 auto;
	margin-top: -40px;
}
.time-inner{
	width: 128px;
	height: 23px;
	position: absolute;
	top: 51px;
	right: 16%;
}

.time-inner span{
	display: inline-block;
	width: 26px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	margin-right: 3px;
}
.marquee-wrap{
	max-width: 290px;
	height: 80px;
	margin: 20px auto 0;
	background: url(../images/recharge3/bg_marquee.png) no-repeat center center;
	background-size: auto 100%;
	padding: 20px 30px;
	overflow: hidden;
	font-size: 1.4rem;
}
.marquee-wrap .marquee-inner{
	height: 100%;
	margin: 0 20px;
	overflow: hidden;
	text-align: center;
	position: relative;
}
#marquee1,#marquee2,#marquee3,#marquee4{position:absolute;top:0;left:0px;width:270px;height:20px;overflow:hidden; }
#marquee2{top: 20px;}
#marquee3{top: 40px;}
#marquee4{top: 60px;}
#marquee1 li,#marquee2 li,#marquee3 li,#marquee4 li{float:left; padding:0 15px; line-height:20px; font-size: 12px; color: #fff;}
#marquee2 li{padding: 0 30px;}
#marquee3 li{padding: 0 25px;}
#marquee4 li{padding: 0 20px;}
.marquee-wrap li strong { color: #fcd214; }
.activity-content{
	padding-top: 30px;
	padding-bottom: 30px;
}
.voucher-link{
	display: block;
	max-width: 269px;
	height: 100px;
	margin: 0 auto 20px;
}
.voucher-link100{
	background: url(../images/recharge3/voucher100.png) no-repeat center center;
	background-size: 100% auto;
}
.voucher-link50{
	background: url(../images/recharge3/voucher50.png) no-repeat center center;
	background-size: 100% auto;
}
.voucher-link30{
	background: url(../images/recharge3/voucher30.png) no-repeat center center;
	background-size: 100% auto;
	margin-bottom: 45px;
}
.voucher-link-other{
	background: url(../images/recharge3/voucher_other.png) no-repeat center center;
	background-size: 100% auto;
}
.rules-content{
	max-width: 300px;
	height: 254px;
	margin: 0 auto;
	background: url(../images/recharge3/bg_rules.png) no-repeat center center;
	background-size: 100% 100% ;
	overflow: hidden;
}
.rules-content .title{
	width: 106px;
	height: 33px;
	line-height: 28px;
	text-align: center;
	margin: 20px 0 6px 30px;
	font-size: 0;
}
.rules-content .title1{
	background: url(../images/recharge3/bg_title1.png) no-repeat;
	background-size: 106px auto;

}
.rules-content .title2{
	background: url(../images/recharge3/bg_title2.png) no-repeat;
	background-size: 106px auto;
}
.rules-content p{
	margin: 0 0 14px 30px;
	color:#fff;
}

@media screen and (max-width:640px) {
	.v-recharge { padding-top: 72%; }
}