<div class="pr-body ap-apply-type clear" fixed-window-height>
    <div class="pr-item" ng-repeat="flow in flows">
        <a ui-sref="index.process.approve.apply.form({flow_id:flow.id,flow_name:flow.name})">
            <img class="pr-pic" ng-src="images/process/approval_apply_pic{{$index}}.png" alt="{{flow.name}}">
            <span class="pr-title">
                    <span class="pr-maintitle">{{flow.name}}</span>
            <!-- <span class="pr-message">有（15）条消息</span> -->
            </span>
            <!-- <img class="pr-arrow" src="images/process/arrow.png" alt="{{flow.name}}"> -->
        </a>
    </div>    
</div>
<style>
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
</style>
