<ul class="l-nav l-nav-fold" ng-if="!isOpen">
    <li class="item">
        <a class="head-pic" ui-sref="index.personalCenter"><img ng-src="{{headimg}}" src="" err-src="images/portal/avatar.jpg" alt="head-pic"></a>
        <aside>头像</aside>
    </li>
    <!-- <li class="item">
        <a ui-sref-active="l-nav-active" ui-sref="index.portal"><img src="images/leftbar/home.png" alt="home"></a>
        <aside>首页</aside>
    </li> -->
    <li class="item">
        <a ui-sref-active="l-nav-active" ui-sref="index.process.approve"><img src="images/process/left-approve-icon.png" alt="message"></a>
        <aside>审批</aside>
    </li>
    <li class="item">
        <a ui-sref-active="l-nav-active" ui-sref="index.process.leave"><img src="images/process/left-leave-icon.png" alt="mail-list"></a>
        <aside>请假</aside>
    </li>
    <li class="item">
        <a ui-sref-active="l-nav-active" ui-sref="index.workorder"><img src="images/process/left-ticket-icon.png" alt="mail-list"></a>
        <aside>工单</aside>
    </li>
    <li class="item">
        <a ui-sref-active="l-nav-active" ui-sref="index.process.checkIn"><img src="images/process/left-checkin-icon.png" alt="book"></a>
        <aside>考勤</aside>
    </li>
</ul>

<ul class="l-nav-open" ng-if="isOpen">
    <li class="item">
        <a class="head-pic" ui-sref="index.personalCenter">
            <img ng-src="{{headimg}}" src="" err-src="images/portal/avatar.jpg" alt="head-pic">
            <div class="leftbar-user">
                <h3>{{name}}</h3>
                <p>欢迎来到盛灿小家</p>
            </div>
        </a>
    </li>
    <li class="item">
        <a ui-sref="index.process.approve" ui-sref-active="l-nav-active">
            <img src="images/process/left-approve-icon.png">
            <h3>审批</h3>
        </a>
    </li>
    <!-- <li class="item" ng-repeat="flow in flows">
        <a ui-sref="index.process.approve.apply.form({flow_id:flow.id})" ui-sref-active="l-nav-active">
            <h3>{{flow.name}}</h3>
        </a>
    </li> -->
    <li class="item">
        <a ui-sref="index.process.leave" ui-sref-active="l-nav-active">
            <img src="images/process/left-leave-icon.png">
            <h3>请假</h3>
        </a>
    </li>
    <li class="item">
        <a ui-sref="index.workorder" ui-sref-active="l-nav-active">
            <img src="images/process/left-ticket-icon.png">
            <h3>工单</h3>
        </a>
    </li>
    <li class="item">
        <a ui-sref="index.process.checkIn" ui-sref-active="l-nav-active">
            <img src="images/process/left-checkin-icon.png">
            <h3>考勤</h3>
        </a>
    </li>
</ul>
<div ng-class="{'lb-icon-open': !isOpen, 'lb-icon-fold': isOpen}" ng-click="toggleFn()"></div>

