<ul class="l-user-nav">
    <li class="item">
        <a class="head-pic" href=""><img src="images/leftbar/head-pic.png" alt="head-pic"></a>
        <aside>头像</aside>
    </li>
    <li class="item">
        <a href=""><img src="images/leftbar/home.png" alt="home"></a>
        <aside>首页</aside>
    </li>
    <li class="item">
        <a href=""><img src="images/leftbar/mail-list.png" alt="mail-list"></a>
        <aside>企业动态</aside>
    </li>
    <li class="item">
        <a href=""><img src="images/leftbar/message.png" alt="message"></a>
        <aside>消息</aside>
    </li>
    <li class="item">
        <a href=""><img src="images/leftbar/book.png" alt="book"></a>
        <aside>笔记</aside>
    </li>
</ul>
<div class="lb-icon" ng-click="leftUserBar()"></div>
