<!-- breadcrumb start -->
<div class="code-breadcrumb">
	<ul>
		<li>溯源模板</li>
	</ul>
</div>
<!-- breadcrumb end -->
<div class="page-content acti-template">
	<div class="code-panel">
		<p class="panel-control">
			<label for="rootsName">溯源产品名称</label>
			<input type="text" name="rootsName" placeholder="请输入关键字">
		</p>
		<div class="panel-btns">
			<a href="javascirpt:;" class="btn-code btn-code-primary btn-query">查询</a>
		</div>
	</div>
	<div class="template-actions mt-40">
		<a ui-sref="index.newRootsTemplate" class="btn-code btn-code-primary">创建溯源模板</a>
		<a href="#" class="btn-code btn-code-primary">批量删除</a>
	</div>
</div>