<!-- 文章 -->
<div class="container">
	<!-- breadcrumb -->
	<div class="breadcrumb">
		<ul>
			<li>当前位置：</li>
			<li><a ui-sref="index.portal">门户</a></li>
			<li>&gt<a ui-sref="index.portal.columnList({columnId:columnId})">{{breadCrumbTitle}}</a></li>
			<li>&gt{{breadCrumbTitle}}详情</li>
		</ul>
	</div>
	
	<!-- article -->
	<div class="article mt-10">
		<div class="article-hd">
			<h3 class="article-tit" ng-bind="columnArticle.title"></h3>
			<div class="portal-detail-info-basic">
				<p>发布时间：{{ columnArticle.create_time*1000 | date: 'yyyy-MM-dd' }}</p>
				<p>发布者：{{ columnArticle.author }}</p>
				<p>浏览量：{{ columnArticle.view_count }}</p>
			</div>
		</div>
		<div class="article-con" ng-bind-html="columnArticle.content | trust:'html'">
			<!-- <p>11月21日，坐落于湖南省省府片区的创谷长沙国家广告产业园开园暨首届双创嘉年华活动成功举行。深圳嵊灿科技有限公司在湖南长沙设立的全资子公司——湖南省兴和网络科技有限公司，作为全国首家微信智慧商圈——“智慧天心”的建设和运营方，与新华社、湖南卫视、湖南广电、启迪之星等知名文创广告、电商品牌企业及孵化创投机构一起，成为首批入驻创谷的企业。</p>
			<p>当天下午，在天心区区委书记曾超群的带领下，湖南省副省长蔡振红、国家工商总局广告监督管理司司长张国华、省委宣传部、省工商局等部门负责人来到广告园大楼，首先参观了湖南省兴和网络科技有限公司。兴和网络工作人员为到访领导详细介绍了兴和网络及 “智慧天心”的建设和发展情况。</p>
			<img src="../images/portal/article_detail_1.jpg" width="1300" height="284" alt="">
			<p>嵊灿科技目前致力于在天心区打造覆盖全业态的智慧商业体，实现天心区“互联网+传统行业”的全面升级。2015年6月2日启动的全国首家微信智慧商圈——“智慧天心”项目，开始着手对天心区五一商圈，进行智慧商圈的升级改造工作。截止到2015年10月为止，商圈内800余户商户门店完成了升级改造，全面支持iBeacon微信摇一摇、微信支付等基础功能，未来智慧商圈还将实现线上预约、点单、排队、付款等功能，让更多的市民朋友享受到智慧生活带来的便捷与实惠。</p>
			<p>在亲自体验了“智慧天心”平台及微信支付等功能后，蔡振红表示：“智慧商圈是一个惠及民生的项目，通过‘互联网+传统行业’的形式，便可以让每一个市民的日常生活智慧化。”他同时还提出：“可以利用直播的方式，将‘智慧天心’部分合作商户的制作产品过程、营销过程展示出来，这样可以抓住市民好奇的心理，从而吸引更多的关注。”</p>
			<p>“只要一提到创业创新，就能想到我们这个‘省府新区、双创高地’。创谷长沙国家广告产业园，地处省府新区核心位置，它应该是和所有的全平台、全链条紧密结合在一起的新型产业。”曾超群在开园仪式后的首届双创嘉年华上表示：“我们突出以‘创’字作为广告产业园的核心，这个‘创’字始终是我们组建平台、搭建机构、引进产业、发展企业的核心。通过‘创意、创新、创业、创投’这‘四创’，一个年轻人能够很快的实现它的梦想，这也是我们创谷长沙国家广告产业园的梦想。</p>
			<img src="../images/portal/article_detail_2.jpg" width="1174" height="230" alt="">
			<p>张国华在接受采访时表示：“广告业是一个创意产业，大家聚集在一起喝喝咖啡，可能就能产生头脑风暴，产生好的创意。所以，园区对于广告业发展的意义是很重大的。为什么是长沙?首先，中南地区本身具有区位优势，再者湖南是文化大省，湖湘文化有着深厚的底蕴，娱乐业也非常发达，这里面很重要的一个载体就是广告。”</p>
			<p>创谷使众多国内知名文创公司、电商品牌汇聚一堂。各级领导的期盼与厚望，也给了刚刚起步不久的兴和网络一剂强心针。在未来的发展中嵊灿科技也将更加深入研究如何高效率、高质量搭建覆盖全业态的智慧商业体，加速智慧商圈建设工作，助力“互联网+”。</p> -->
		</div>
		<!-- <div class="article-bott">
			<a href="#" class="article-prev">上一篇：总部／产品技术中心／设计部——王伟</a>
			<a href="#" class="article-next mt-10">下一篇：总部／产品技术中心／研发支持部／前端开发组——陈晓雪</a>			
		</div> -->
	</div>
</div>