<!-- 公司新闻 -->
<div class="container">
	<div class="main">
		<!-- breadcrumb -->
		<div class="breadcrumb">
			<ul>
				<li>当前位置：</li>
				<li><a ui-sref="index.portal">门户</a></li>
				<li>&gt;企业新闻</li>
			</ul>
		</div>
		
		<!-- news list -->
		<div class="list news mt-10">
			<div class="list-hd">
				<h3 class="list-tit fl">企业新闻</h3>
			</div>
			<div class="news-con">
				<ul class="news-list">
					<li ng-repeat="companyNews in companyNews.contents">
						<div class="thumb-news">
							<img ng-src="{{companyNews.image}}" src="" err-src="images/default.jpg" width="200" height="100">
						</div>
						<div class="news-info">
							<a ui-sref="index.portal.article({id:companyNews.id})" class="news-title" ng-bind="companyNews.title"></a>
							<p class="news-desc" ng-bind="companyNews.description"></p>
							<em class="list-publish-time" ng-bind="companyNews.pulish_time * 1000 | date: 'yyyy-MM-dd'"></em>
						</div>
					</li>
					<!-- <li>
						<div class="thumb-news">
							<img src="../images/portal/news_1.jpg" width="200" height="100">
						</div>
						<div class="news-info">
							<a ui-sref="index.portal.article" class="news-title">桐乡市市长一行莅临嵊灿科技 调研“智慧天心”商圈项目</a>
							<p class="news-desc">位于浙北杭嘉湖平原腹地的桐乡市，素有“鱼米之乡，丝绸之府，文化之邦”的美誉。运河古镇群落、特色庄园之乡、商贸休闲之地等旅游品牌的建设，乌镇—石门省级旅游度假区、浙江省休闲农业与乡村旅游示范县的成功获批，成为桐乡繁荣发展现代服务业、加快提升现代农业的有力佐证。</p>
						</div>
					</li>
					<li>
						<div class="thumb-news">
							<img src="../images/portal/news_2.jpg" width="200" height="100">
						</div>
						<div class="news-info">
							<a href="#" class="news-title">桐乡市市长一行莅临嵊灿科技 调研“智慧天心”商圈项目</a>
							<p class="news-desc">位于浙北杭嘉湖平原腹地的桐乡市，素有“鱼米之乡，丝绸之府，文化之邦”的美誉。运河古镇群落、特色庄园之乡、商贸休闲之地等旅游品牌的建设，乌镇—石门省级旅游度假区、浙江省休闲农业与乡村旅游示范县的成功获批，成为桐乡繁荣发展现代服务业、加快提升现代农业的有力佐证。</p>
						</div>
					</li>
					<li>
						<div class="thumb-news">
							<img src="../images/portal/news_3.jpg" width="200" height="100">
						</div>
						<div class="news-info">
							<a href="#" class="news-title">桐乡市市长一行莅临嵊灿科技 调研“智慧天心”商圈项目</a>
							<p class="news-desc">位于浙北杭嘉湖平原腹地的桐乡市，素有“鱼米之乡，丝绸之府，文化之邦”的美誉。运河古镇群落、特色庄园之乡、商贸休闲之地等旅游品牌的建设，乌镇—石门省级旅游度假区、浙江省休闲农业与乡村旅游示范县的成功获批，成为桐乡繁荣发展现代服务业、加快提升现代农业的有力佐证。</p>
						</div>
					</li>
					<li>
						<div class="thumb-news">
							<img src="../images/portal/news_4.jpg" width="200" height="100">
						</div>
						<div class="news-info">
							<a href="#" class="news-title">桐乡市市长一行莅临嵊灿科技 调研“智慧天心”商圈项目</a>
							<p class="news-desc">位于浙北杭嘉湖平原腹地的桐乡市，素有“鱼米之乡，丝绸之府，文化之邦”的美誉。运河古镇群落、特色庄园之乡、商贸休闲之地等旅游品牌的建设，乌镇—石门省级旅游度假区、浙江省休闲农业与乡村旅游示范县的成功获批，成为桐乡繁荣发展现代服务业、加快提升现代农业的有力佐证。</p>
						</div>
					</li>
					<li>
						<div class="thumb-news">
							<img src="../images/portal/news_5.jpg" width="200" height="100">
						</div>
						<div class="news-info">
							<a href="#" class="news-title">桐乡市市长一行莅临嵊灿科技 调研“智慧天心”商圈项目</a>
							<p class="news-desc">位于浙北杭嘉湖平原腹地的桐乡市，素有“鱼米之乡，丝绸之府，文化之邦”的美誉。运河古镇群落、特色庄园之乡、商贸休闲之地等旅游品牌的建设，乌镇—石门省级旅游度假区、浙江省休闲农业与乡村旅游示范县的成功获批，成为桐乡繁荣发展现代服务业、加快提升现代农业的有力佐证。</p>
						</div>
					</li>
					<li>
						<div class="thumb-news">
							<img src="../images/portal/news_6.jpg" width="200" height="100">
						</div>
						<div class="news-info">
							<a href="#" class="news-title">桐乡市市长一行莅临嵊灿科技 调研“智慧天心”商圈项目</a>
							<p class="news-desc">位于浙北杭嘉湖平原腹地的桐乡市，素有“鱼米之乡，丝绸之府，文化之邦”的美誉。运河古镇群落、特色庄园之乡、商贸休闲之地等旅游品牌的建设，乌镇—石门省级旅游度假区、浙江省休闲农业与乡村旅游示范县的成功获批，成为桐乡繁荣发展现代服务业、加快提升现代农业的有力佐证。</p>
						</div>
					</li> -->
				</ul>

				<!-- pagenation -->
				<!-- <div class="pagenation">
					<ul>
						<li><a href="#" class="btn-prev">prev</a></li>
						<li><a href="#">1</a></li>
						<li class="page-current"><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li class="no-border">...</li>
						<li><a href="#">100</a></li>
						<li><a href="#" class="btn-next">next</a></li>
					</ul>
					<span class="page-total">共100页 800条</span>
				</div> -->
				<div class="list-page">
					<uib-pagination total-items="page.totalCount" ng-model="page.pageNo" items-per-page="page.pageSize" max-size="5" ng-change="doRequest(companyNews.status,page.pageNo,page.pageSize)" class="samplePage pagination-sm" boundary-link-numbers="true" previous-text="上一页" next-text="下一页">
					</uib-pagination>
					<span>共{{ page.totalPage }}页&nbsp;&nbsp;{{ page.totalCount }}条</span>
				</div>
			</div>
		</div>		
	</div>
	<!-- sidebar start -->
	<div class="sidebar">
		<!-- ad -->
		<div class="ad">
			<ul>
				<li ng-repeat="ad in adList">
					<a ng-href="{{ad.link}}" target="_blank">
						<img ng-src="{{ad.src}}" width="320" height="90" alt="">
						<h3 class="ad-tit" ng-bind="ad.name"></h3>
					</a>
				</li>
			</ul>
		</div>

		<!-- new partner -->
		<div class="new-partner mt-10">
			<div class="partner-hd">
				<h3 class="fl">新伙伴</h3>
				<a ui-sref="index.portal.newPartner" class="list-more fr">更多</a>
			</div>
			<div class="partner-con">
				<ul>
					<li ng-repeat="newPartner in newPartners | limitTo:9">
						<a ui-sref="index.portal.newPartner.detail({userid:newPartner.id})">
							<div class="partner-cell-1">
								<img class="user-avatar" ng-src="{{newPartner.avatar}}" width="60" height="60" alt="">
							</div>
							<div class="partner-cell-2">
								<h3 class="user-name" ng-bind="newPartner.name"></h3>
								<p class="department">{{ newPartner.department_path }}/{{ newPartner.position }}</p>
								<!-- <p class="join-date" ng-bind="newPartner.join_date"></p> -->
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- sidebar end -->

</div>